html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.dropzone {
  border: 3px dashed green;
  background: lightsalmon;
  width: 200px;
  height: 200px;
  margin: auto;
  background-size: 100px 30px;
}

.home-div {
  border: 1px double blue;
}
